body {
  background: rgb(197, 197, 197);
}

th,
td,
p,
input {
  font: 15px "Segoe UI";
}
table {
  background-color: grey;
}
table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 15px;
  text-align: center;
}
th {
  font-weight: bold;
}
ul {
  margin: auto;
  overflow: auto;
  justify-content: space-around;
  display: flex;
}

nav {
  text-align: center;
  background-color: seagreen;
  border-radius: 5px;
  margin-bottom: 50px;
}

ul li {
  float: left;
  padding: 13px 20px;
  text-decoration: none;
  list-style: none;
  /* background-color: saddlebrown; */
}

/* li:hover {
  border-bottom: 3px solid blue;
} */
a:hover {
  color: white;
}

ul li a {
  text-decoration: none;
}
h2 {
  clear: both;
}

#sheet-content {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
}
select {
  border-radius: 5px;
}
/* #data_show {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 5%;
  border-radius: 10px;
} */
#main-container {
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 7px;
}
#data_show {
  border-radius: 7px;
  box-shadow: 3px 14px 8px rgb(22, 22, 22);
}
li.active {
  border-bottom: 1.9px solid blue;
  background-color: rgb(124, 153, 131);
  border-radius: 5px;
}
