body {
  background: #527379;
  /* background: linear-gradient(to right bottom, #648880, #293f50); */
  height: 100%;
}
.hamburger-menu {
  height: 15px;
  width: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 2px;
  background-color: chocolate;
  transition: all 0.8s;
  box-shadow: 2px 2px 4px rgb(53, 53, 53);
}
.nav-bar {
  width: 250px;
  height: 100vh;
  background-color: rgb(49, 77, 90);
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0 20% 10% 0;
  transition: 0.8s;
  z-index: 3;
}
.nav-item {
  list-style: none;
  margin: 25px;
}
.nav-list {
  text-align: left;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 5px;
  letter-spacing: 2px;
}
.nav-item a:hover {
  color: palevioletred;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-7.5px, 6px);
}
.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(45deg);
}

.change {
  left: 0;
}
.status {
  color: white;
  font-size: 20px;
  /* right: 350px;
  top: 30px; */
  opacity: 0;
  font-weight: lighter;
  font-style: italic;
}
.status.animate1 {
  height: auto;
  width: auto;
  background: transparent;
  animation: opa 8s;
}
.status.animate2 {
  height: auto;
  width: auto;
  background: transparent;
  animation: opa 8s;
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
svg {
  position: absolute;
  display: inline-block;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  right: 50px;
  top: 25px;
  /* animation: cycle infinite 0.8s; */
}

.reload {
  animation: cycle infinite 0.8s;
}

@keyframes cycle {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.option-selector {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 6%;
  height: 150px;
}
#data_show th,
td p {
  font: 16px "Segoe UI";
}
table {
  /* background-color: rgb(139, 112, 105); */
  color: white;
}
th,
td {
  border: solid 1px rgb(170, 170, 170);
  /* border-collapse: collapse; */
  padding: 2px 15px;
  text-align: center;
}
th {
  font-weight: bold;
  border-radius: 3px;
  position: sticky;
  top: 0;
  background: rgb(71, 108, 130);
  z-index: 1;
}
td {
  border: none;
  border-radius: 3px;
  background: rgb(113, 131, 142);
}
tr td:nth-child(1) {
  border: solid 1px rgb(170, 170, 170);
  position: sticky;
  background: rgb(71, 108, 130);
  left: 0;
}

h1 {
  clear: both;
  color: rgb(205, 211, 243);
  text-shadow: 4px 2px 4px #424141;
}

#sheet-content {
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid red;
  background: transparent;
  width: 203px;
  font-size: 14px;
  margin: 6px 17px;
  cursor: pointer;
}
.option-selector span {
  margin-left: 5px;
}
/* .nice-select {
  border-bottom: 1px solid red;
  background: transparent;
  height: 25px;
} */

.btn {
  border-radius: 5px;
  cursor: pointer;
}
#main-container {
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 7px;
}
#data_show {
  border-radius: 7px;
  box-shadow: 4px 9px 12px rgb(53, 53, 53);
}
/* .afterClick {
  display: none;
  height: 0px;
  transition: height 0.8s ease-in-out;
}
/* .afterClick::after {
  content: "\2613";

} */
.download {
  margin-left: 100px;
  border: none;
  height: 22px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 4px 3px 10px rgb(75, 75, 75);
}
.download:hover {
  color: white;
  background: rgb(92, 92, 92);
}
.download:focus {
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .option-selector {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .option-selector h1 {
    margin-top: 72px;
  }
  .option-selector * {
    margin-bottom: 5px;
  }
  .nice-select {
    width: 80vw;
  }
  .download {
    margin-left: 0;
    width: fit-content;
    display: inline-block;
  }
  .nav-bar {
    width: 50%;
    left: -500px;
  }
  .change {
    left: 0;
  }
  .nav-list {
    padding-left: 20px;
  }
  svg {
    right: 16px;
    height: 30px;
    width: 30px;
    top: 77px;
  }
  #main-container {
    margin-top: 74px;
  }
}
