body {
  background: rgb(197, 197, 197);
  margin-bottom: 25px;
}

th,
td,
p,
input {
  font: 15px "Segoe UI";
}
table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight: bold;
}
ul {
  margin: auto;
  overflow: auto;
  justify-content: space-around;
  display: flex;
}

nav {
  text-align: center;
  background-color: seagreen;
  border-radius: 5px;
  margin-bottom: 50px;
}

ul li {
  float: left;
  padding: 13px 20px;
  text-decoration: none;
  list-style: none;
  /* background-color: saddlebrown; */
}

/* li:hover {
  border-bottom: 3px solid blue;
} */
a:hover {
  color: white;
}

ul li a {
  text-decoration: none;
}
h2 {
  clear: both;
}

#sheet-content {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
}
select {
  border-radius: 5px;
}
li.active {
  border-bottom: 1.9px solid blue;
  background-color: rgb(124, 153, 131);
  border-radius: 5px;
}
#testing {
  background-color: rosybrown;
}
